#include </home/ekchuah/.colors/material>
URxvt.perl-ext-common:      default,clipboard,url-select,resize-font
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
URxvt.scrollBar: false

URxvt.font: xft:Noto Mono:size=8

;URxvt.keysym.C-Up: resize-font:bigger
;URxvt.keysym.C-Down: resize-font:smaller
;URxvt.keysym.C-Left: resize-font:reset
;URxvt.keysym.C-Right: resize-font:show
